@import "./styles/variables.scss";

.test-description {
  display: flex;
  text-align: center;
  justify-content: center;
  background: $color-green;
  padding: $spacing-md;
  color: $color-white;
}

.key-value-container {
  display: flex;

  .key {
    line-height: 1.5;
    color: $color-cutty-sark;
    margin-right: $spacing-sm;
  }

  .value {
    line-height: 1.5;
    color: $color-nile-blue;
  }
}
