// Colors
$color-green: #47b27a;
$color-white: #fff;

// Spacing
$spacing-sm: 5px;
$spacing: 10px;
$spacing-md: 15px;

// Radius
$radius: 5px;

// Display breakpoints
$breakpoint-phone-max: 600px;
$breakpoint-tablet-max: 1280px;
$breakpoint-desktop-min: 1440px;
